@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
@import url(//fonts.googleapis.com/css?family=Kaushan+Script);
/*! 
 *   AdminLTE v1.2
 *   Author: AlmsaeedStudio.com
 *   License: Open source - MIT
 *           Please visit http://opensource.org/licenses/MIT for more information
!*/
/*
    Core: General style
----------------------------
    */
.test-fixed{
    text-overflow:ellipsis !important;
}
.checkbox-inbox{
    margin:0 20px 0 0px !important;
}
.col-fixed {
    /* custom width */
    width:90px;
}
.col-min {
    /* custom min width */
    min-width:90px;
}
.col-max {
    /* custom max width */
    max-width:90px;
}

*/
.first, .prev, .next, .last{
    cursor: pointer !important;
}

#pager{
    font-size: large;
}
/*
    set style for placholder    
*/
textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
    font-style:italic !important;
    font-size: 12px !important;
}
/* firefox 18- */
textarea:-moz-placeholder, input:-moz-placeholder {
    font-style:italic !important;
    font-size: 12px !important;
}
/* firefox 19+ */
textarea::-moz-placeholder, input::-moz-placeholder {
    font-style:italic !important;
    font-size: 12px !important;
}
/* ie */
textarea:-ms-input-placeholder, input:-ms-input-placeholder {
    font-style:italic !important;
    font-size: 12px !important;
}

textarea:-moz-placeholder, input:-moz-placeholder {
    font-style:italic !important;
    font-size: 12px !important;
}

.resize-none{
    resize: none;
}

.resize-vertical{
    resize:vertical;
}

.resize-horizontal{
    resize: horizontal;
}
.radio label, .checkbox label{
    padding-left: 0 !important;
}

label{
    cursor:pointer !important;
}

.navbar-nav
{
    margin: 0 !important;
}
.panel-default>.panel-heading{
    background-color: #eee !important;
}
.box-center{
    margin: 0 auto !important;
}

.box-left{
    margin: 0 !important;
    float: left;
}

.checkbox{
    margin-left: 0 !important;
}

.box-right{
    width: 49% !important;
    margin: 0 !important;
    float: right;
}

.box-right .input-group, panel{
    width: 100% !important;
}
body {
    background-color: #d9edf7 !important;
}

table td, th {
    vertical-align: middle !important;
}

a {
    text-decoration: none;
}
#content{
    padding: 0 15px;
}
#header {
    width: 100%;
    height: 50px;
    color: white;
    font-size: 25px;
    background-color: black;
}

    #header .dnt-header {
        padding: 7.5px;
    }

.dnt-menu {
    background-color: #3c8dbc;
}

    .dnt-menu > .dnt-menu-left {
        padding: 8px 15px;
    }


.dnt-table table thead, tfoot{
    color: white;
}
.dnt-table table tbody {
}

.dnt-table table thead tr, tfoot tr {
    background-color: Gray;
}

.dnt-table table tbody tr:nth-child(even) {
    background-color: #CCC;
}

.dnt-table table tbody tr:nth-child(odd) {
    background-color: #FFF;
}


.dnt-none-underline a {
    text-decoration: none !important;
}

.dnt-user {
    margin: 0 auto !important;
    line-height: 20px;
    font-size: 14px;
}

.dnt-dropdown-menu {
    width: 250px !important;
}

.btn-box-bottom{
    margin: 10px 0 20px 0 !important;
}

.voffset0 {
    margin-top: 0px !important;
}
.voffset1 {
    margin-top: 5px !important;
}

.voffset2 {
    margin-top: 10px !important;
}

.voffset3 {
    margin-top: 15px !important;
}

.voffset4 {
    margin-top: 20px !important;
}

.voffset5 {
    margin-top: 25px !important;
}

.voffset6 {
    margin-top: 30px !important;
}

.voffset7 {
    margin-top: 35px !important;
}

.voffset8 {
    margin-top: 40px !important;
}

.voffset9 {
    margin-top: 45px !important;
}

/* customize bootstrap */
.navbar {
    border: none !important;
}

<!-- LTE style -->
/* Background colors */
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black {
    color: #f9f9f9 !important;
}

.bg-gray {
    background-color: #eaeaec !important;
}

.bg-black {
    background-color: #222222 !important;
}

.bg-red {
    background-color: #f56954 !important;
}

.bg-yellow {
    background-color: #f39c12 !important;
}

.bg-aqua {
    background-color: #00c0ef !important;
}

.bg-blue {
    background-color: #0073b7 !important;
}

.bg-default {
    background-color: #fff !important;
}

.bg-light-blue {
    background-color: #3c8dbc !important;
}

.bg-green {
    background-color: #00a65a !important;
}

.bg-navy {
    background-color: #001f3f !important;
}

.bg-teal {
    background-color: #39cccc !important;
}

.bg-olive {
    background-color: #3d9970 !important;
}

.bg-lime {
    background-color: #01ff70 !important;
}

.bg-orange {
    background-color: #ff851b !important;
}

.bg-fuchsia {
    background-color: #f012be !important;
}

.bg-purple {
    background-color: #932ab6 !important;
}

.bg-maroon {
    background-color: #85144b !important;
}
/* Text colors */
.text-red {
    color: #f56954 !important;
}

.text-yellow {
    color: #f39c12 !important;
}

.text-aqua {
    color: #00c0ef !important;
}

.text-blue {
    color: #0073b7 !important;
}

.text-black {
    color: #222222 !important;
}

.text-light-blue {
    color: #3c8dbc !important;
}

.text-green {
    color: #00a65a !important;
}

.text-navy {
    color: #001f3f !important;
}

.text-teal {
    color: #39cccc !important;
}

.text-olive {
    color: #3d9970 !important;
}

.text-lime {
    color: #01ff70 !important;
}

.text-orange {
    color: #ff851b !important;
}

.text-fuchsia {
    color: #f012be !important;
}

.text-purple {
    color: #932ab6 !important;
}

.text-maroon {
    color: #85144b !important;
}

/*
    Component: Small boxes
*/
.small-box {
    position: relative;
    display: block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 15px;
}

    .small-box > .inner {
        padding: 10px;
    }

    .small-box > .small-box-footer {
        position: relative;
        text-align: center;
        padding: 3px 0;
        color: #fff;
        color: rgba(255, 255, 255, 0.8);
        display: block;
        z-index: 10;
        background: rgba(0, 0, 0, 0.1);
        text-decoration: none;
    }

        .small-box > .small-box-footer:hover {
            color: #fff;
            background: rgba(0, 0, 0, 0.15);
        }

    .small-box h3 {
        font-size: 38px;
        font-weight: bold;
        margin: 0 0 10px 0;
        white-space: nowrap;
        padding: 0;
    }

    .small-box p {
        font-size: 15px;
    }

        .small-box p > small {
            display: block;
            color: #f9f9f9;
            font-size: 13px;
            margin-top: 5px;
        }

    .small-box h3,
    .small-box p {
        z-index: 5px;
    }

    .small-box .icon {
        position: absolute;
        top: auto;
        bottom: 5px;
        right: 5px;
        z-index: 0;
        font-size: 90px;
        color: rgba(0, 0, 0, 0.15);
    }

    .small-box:hover {
        text-decoration: none;
        color: #f9f9f9;
    }

        .small-box:hover .icon {
            animation-name: tansformAnimation;
            animation-duration: .5s;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            -webkit-animation-name: tansformAnimation;
            -webkit-animation-duration: .5s;
            -webkit-animation-iteration-count: 1;
            -webkit-animation-timing-function: ease;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-name: tansformAnimation;
            -moz-animation-duration: .5s;
            -moz-animation-iteration-count: 1;
            -moz-animation-timing-function: ease;
            -moz-animation-fill-mode: forwards;
        }


#bttop {
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 35px;
    right: 10px;
    cursor: pointer;
    display: none;
    color: #fff;
    font-size: 11px;
    font-weight: 900;
    z-index: 10000;
}

.navbar-nav > .user-menu > .dropdown-menu {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 220px;
    background-color: transparent;
}

    .navbar-nav > .user-menu > .dropdown-menu:after {
        bottom: 100%;
        right: 10px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 10px;
        margin-left: -10px;
    }

    .navbar-nav > .user-menu > .dropdown-menu > li.user-header {
        height: 175px;
        padding: 10px;
        background: #3c8dbc;
        text-align: center;
    }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
            z-index: 5;
            height: 90px;
            width: 90px;
            border: 8px solid;
            border-color: transparent;
            border-color: rgba(255, 255, 255, 0.2);
        }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
            z-index: 5;
            color: #f9f9f9;
            color: rgba(255, 255, 255, 0.8);
            font-size: 17px;
            text-shadow: 2px 2px 3px #333333;
            margin-top: 10px;
        }

            .navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
                display: block;
                font-size: 12px;
            }

    .navbar-nav > .user-menu > .dropdown-menu > li.user-body {
        padding: 15px;
        border-bottom: 1px solid #f4f4f4;
        border-top: 1px solid #dddddd;
    }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-body:before,
        .navbar-nav > .user-menu > .dropdown-menu > li.user-body:after {
            display: table;
            content: " ";
        }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-body:after {
            clear: both;
        }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-body > div > a {
            color: #0073b7;
        }

    .navbar-nav > .user-menu > .dropdown-menu > li.user-footer {
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
        background-color: #3c8dbc;
        padding: 10px;
    }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-footer:before,
        .navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after {
            display: table;
            content: " ";
        }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after {
            clear: both;
        }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-footer .btn-default {
            color: #666666;
        }

.navbar .nav > li > a {
    color: #f6f6f6;
}

    .navbar .nav > li > a:hover,
    .navbar .nav > li > a:active,
    .navbar .nav > li > a:focus,
    .navbar .nav .open > a,
    .navbar .nav .open > a:hover,
    .navbar .nav .open > a:focus, a:hover {
        background: rgba(0, 0, 0, 0.1);
    }
/* Add fade animation to dropdown menus */
.open > .dropdown-menu {
    animation-name: fadeAnimation;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: fadeAnimation;
    -webkit-animation-duration: .7s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: fadeAnimation;
    -moz-animation-duration: .7s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
}


@keyframes tansformAnimation {
    from {
        font-size: 90px;
    }

    to {
        font-size: 100px;
    }
}

@-webkit-keyframes tansformAnimation {
    from {
        font-size: 90px;
    }

    to {
        font-size: 100px;
    }
}

@media screen and (max-width: 480px) {
    .small-box {
        text-align: center;
    }

        .small-box .icon {
            display: none;
        }

        .small-box p {
            font-size: 12px;
        }
}


@keyframes fadeAnimation {
    from {
        opacity: 0;
        top: 120%;
    }

    to {
        opacity: 1;
        top: 100%;
    }
}

@-webkit-keyframes fadeAnimation {
    from {
        opacity: 0;
        top: 120%;
    }

    to {
        opacity: 1;
        top: 100%;
    }
}
/* Fix dropdown menu for small screens to display correctly on small screens */
@media screen and (max-width: 767px) {
    .navbar-nav > .notifications-menu > .dropdown-menu,
    .navbar-nav > .user-menu > .dropdown-menu,
    .navbar-nav > .tasks-menu > .dropdown-menu,
    .navbar-nav > .messages-menu > .dropdown-menu {
        position: absolute;
        top: 100%;
        right: 0;
        left: auto;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
        background: #ffffff;
    }
}
