<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.wdmfglrf_SOCIAL_NETWORKConnectionString"
            connectionString="Data Source=103.48.81.23;Initial Catalog=wdmfglrf_SOCIAL_NETWORK;Persist Security Info=True;User ID=wdmfglrf_mainam;Password=abc13579"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>